{{include "layouts/header"}}
<h1>Posts list</h1>
<a href="/new_article" class="btn btn-primary">Create article</a>

  {{ range .payload }}
    <div class="card" style="width: 18rem; display: inline-block">
      <img src="http://placehold.it/286x180" class="img-responsive" alt="cardImg">
      <div class="card-body">
        <h5 class="card-title">{{ .Title }}</h5>
        <a href="/articles/{{ .ID }}" class="btn btn-primary">Show article</a>
        <a href="/delete_article/{{ .ID }}" class="btn btn-danger">Delete article</a>
      </div>
    </div>
  {{ end }}
{{include "layouts/footer"}}
