{{include "layouts/header"}}
<h2>New Article</h2>

<form method="POST" action="/articles">
    <div class="form-group">
        <label for="articleTitle">Title</label>
        <input type="text" class="form-control" id="articleTitle" name="articleTitle">
    </div>
    <div class="form-group">
        <label for="articleContent">Content</label>
        <textarea class="form-control" id="articleContent" name="articleContent" rows="3"></textarea>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="articlePublish">
        <label class="form-check-label" for="articlePublish" >Publish</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
<script>
    tinymce.init({
        selector: '#articleContent'
    });
</script>
{{include "layouts/footer"}}
